<a href="https://colab.research.google.com/github/Shivaram17/PythonDemo_Projects/blob/main/Anagram_Merge_sortedList_JashDataScienceInterview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#anagrams of 3 pairs
# "New York Times" = "monkeys write"
# rocket boys = October sky
# "McDonald's restaurants" = "Uncle Sam's standard rot"

In [ ]:
# Anagrams create a function two strings as true or false
def anagram(s1, s2):
  s1 = s1.lower()
  s2 = s2.lower()
  print('lower s1', s1)
  #pass the convert string1 and 2
  s1 = list(s1)
  s2 = list(s2)
  s1 = [i for i in s1 if i != ' ']
  s2 = [i for i in s2 if i != ' ']
  print(s1)
  print(s2)
  length1 = len(s2)
  count = 0
  for ch in s1:
    if ch in s2:
      count = count + 1
  if count == length1:
    return True
  return False
s1 = "New York Times"
s2 = "monkeyss write"
anagram(s1, s2)

lower s1 new york times
['n', 'e', 'w', 'y', 'o', 'r', 'k', 't', 'i', 'm', 'e', 's']
['m', 'o', 'n', 'k', 'e', 'y', 's', 's', 'w', 'r', 'i', 't', 'e']

False

In [3]:

#problem 2 merge the two lists by sorting while adding using stack 
l1 = [5,5,8,9,15,20,88]
l2 =  [6,6,7,8,9,12,22,25,99,150,200]

s = []
while l1 and l2:
  if l1[0] < l2[0]:
    s.append(l1.pop(0))
  else:
    s.append(l2.pop(0))

# add the remaining elements from l1 and l2 to s respectively
print(l1)
print(l2)
s += l1
s += l2

print(s)

[]
[99, 150, 200]
[5, 5, 6, 6, 7, 8, 8, 9, 9, 12, 15, 20, 22, 25, 88, 99, 150, 200]